{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {# Affichage du nombre de todos complétées par rapport au nombre total de todos #}
    <p>{{ completedCount }} / {{ totalTodos }} Todos complétées</p>

    {# Affichage du message #}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {# Ajout du bouton pour supprimer toutes les todos complétées #}
    <form method="POST" action="{{ path('app_todo_completed_delete') }}" onsubmit="return confirm('Voulez-vous vraiment supprimer l\'ensemble des Todos ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('DELETE') }}">
        <button class="btn btn-outline-danger mt-3" type="submit">Supprimer toutes les Todos complétées</button>
    </form>

    <table class="table">
        <thead class="thead-light">
            <tr>
{#                <th>Id</th>#}
                <th>Noms</th>
                <th>Détails</th>
                <th>Complet</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
{#                <td>{{ todo.id }}</td>#}
                <td>{{ todo.name }}</td>
                <td>{{ todo.details }}</td>
                <td>{{ todo.completed ? 'Oui' : 'Non' }}</td>
                <td>
                    {% if not todo.completed %}
                        <a href="{{ path('complete_todo', {'id': todo.id}) }}" class="btn btn-success">Compléter</a>
                    {% endif %}
                    <a class="btn btn-outline-secondary" href="{{ path('app_todo_show', {'id': todo.id}) }}">Voir</a>
                    <a class="btn btn-outline-secondary" href="{{ path('app_todo_edit', {'id': todo.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun Todo encore à afficher ...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_todo_new') }}">Créer une nouvelle Todo</a>
{% endblock %}
