{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
    <h1>Todo</h1>

    <table class="table">
        <thead class="thead-light">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ todo.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>Nom</th>
                <td>{{ todo.name }}</td>
            </tr>
            <tr>
                <th>Détails</th>
                <td>{{ todo.details }}</td>
            </tr>
            <tr>
                <th>Complet</th>
                <td>{{ todo.completed ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary m-3" href="{{ path('app_todo_index') }}">↩ Retour</a>

    <a class="btn btn-outline-primary m-3" href="{{ path('app_todo_edit', {'id': todo.id}) }}">Modifier</a>

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}
